<?xml version="1.0"?>
<configuration>
	<system.web>
    <httpRuntime maxRequestLength="31457280"/>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <connectionStrings>
    <add name="sptdb" connectionString="Data Source=.\SQLExpress;Initial Catalog=SPTEducation;Integrated Security=True" />
    <add name="SPTEducationConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=SPTEducation;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
